<div class="button-container">
    <h2 class="title">PowerGP Online</h2>
    
    <div class="button-grid">
      <button type="button" class="btn-custom primary-btn" (click)="authPlaid()">
        <span>Authenticate with Plaid Link Token</span>
      </button>
  
      <button type="button" class="btn-custom secondary-btn">
        <span>Integration Setup</span>
      </button>
  
      <button type="button" class="btn-custom success-btn">
        <span>Transaction Import</span>
      </button>
  
      <button type="button" class="btn-custom danger-btn">
        <span>Transaction Mapping</span>
      </button>
  
      <button type="button" class="btn-custom info-btn">
        <span>Credit Card Transaction</span>
      </button>
    </div>
  </div>
  